body {
    margin: 0;
    font-family: Arial;
    background: #0f172a;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    padding-top: 50px;
    gap: 15px;
}

input {
    padding: 10px;
    width: 220px;
    border-radius: 8px;
    border: none;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    background: #3b82f6;
    color: white;
    cursor: pointer;
}

.card {
    margin-top: 20px;
    padding: 20px;
    width: 320px;
    background: #1e293b;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    margin-top: 10px;
}

.tags span {
    background: #334155;
    padding: 6px 10px;
    border-radius: 20px;
    font-size: 12px;
}